<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue {{ user.prenom }} !</title>
</head>
<body>
    <h2>Bienvenue {{ user.prenom }} {{ user.nom }} !</h2>
    <p>Votre compte a été créé avec succès.</p>
    <p>Vous pouvez maintenant vous connecter à notre plateforme.</p>
    <p>Nous sommes ravis de vous compter parmi nous !</p>
</body>
</html>
